.gridcontainer{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 2rem;
}
 
.gridcontainer article img{
    height: 55rem;
    width: 100%;
    object-fit: contain;
    border-radius: 3rem;

} 

.wrapper{
    width: 38.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.image{
    position: relative;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 1.s;
    border-radius: 3rem;
}
 
.content:hover{
    opacity: 1;
    backdrop-filter: blur(8px) ; 
    border-radius: 15px;
}

.content h3{
    color: var(--text-color);
    font-size: 2.3rem;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    position: absolute;
    bottom: -50rem;
}